    
        <div class=" banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'banner.jpg' %>'); text-align: center"> 
            <h1>Welcome to Pet rental</h1>
            <p id="unique-proposition">Have fun with your pet</p>
            <a href="#" class="btn btn-dark">Find your Pet!</a>
        </div>   
    
<div class="container">
    <div class="row">
        <div class="col-6">
            <%= link_to "#" do  %>
                <div class="card-home">
                    <h2>Rent a pet</h2>
                </div>
            <% end %>
        </div> 
        <div class="col-6">
            <%= link_to "#" do  %>
                <div class="card-home">
                    <h2>Post a pet</h2>
                </div>
            <% end %>
        </div> 
    </div>
</div>
