.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-right: 59.5px;
  padding-left: 59.5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.center-text {
  text-align: center;
}

.link-decoration {
  text-decoration: none !important;
  color: rgb(40,40,40);
  opacity: 0.6;
  &:hover{
    text-decoration: none !important;
    opacity: 0.9;
    transition: ease 0.5s;
    color:black;

  }
}
